/* 반응형 미디어 쿼리*/
@media (max-width: 768px) {
    .challengePage_main_component {
        flex-direction: column; /* 화면이 작아지면 세로로 배치 */
    }
}

/* 배너 설정 */
.challengepage_banner {
    background-color: rgb(237, 237, 237);
    font-family: Noto Sans;
}

.challengePage_banner_smalltitle{
    padding-top: 70px;
    font-weight: 600;
    font-size: 35px;
}
.challengepage_banner_title {
    padding-bottom: 20px;
    font-weight: 800;
    font-size: 40px;
    color: #ee3a70;
}

.challengepage_subtitle {
    font-weight: 300;
    font-size: 20px;
}

.challengepage_button_overay {
    padding-top: 30px;
    padding-bottom: 60px;
}

/* 메인 컴포넌트 */
.challengePage_main_component {
    display: flex; /* Flexbox 활성화 */
    align-items: center;
    justify-content: space-between; /* 좌우로 배치 */
    gap: 100px; /* 이미지와 텍스트 사이 간격 */
    padding-left: 450px;
    padding-right: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.challengePage_main_image {
    flex-shrink: 0; /* 이미지 크기 고정 */
    max-width: 800px; /* 이미지 최대 너비 */
    height: auto; /* 비율에 따라 높이 자동 조정 */
}

.challengePage_main_text {
    flex: 1; /* 텍스트가 남은 공간을 채움 */
    text-align: left; /* 텍스트 좌측 정렬 */
    font-family: Noto Sans;
}

.challengePage_main_title {
    font-weight: 900;
    font-size: 45px;
    color: #00acae;
}

.challengePage_main_subtext {
    font-weight: 400;
    padding-top: 40px;
    font-size: 17px;
}

.challengepage_main_button_overay {
    padding-top: 40px;
}