@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* 아래에서 위로 이동 */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* 제자리로 돌아오기 */
  }
}

.campaign-background {
  background-color: black;
}

/* 제목 컨테이너 스타일 */
.campaign-title-container {
  margin-bottom: 30px;
}

/* 제목(h2) 스타일 */
.campaign-title {
  font-size: 70px;
  font-family: Black han sans;
  color: white; /* 진한 회색 */
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  padding-top: 70px;

  /*애니메이션*/
  opacity: 0; /* 처음에는 보이지 않게 설정 */
  transform: translateY(20px); /* 아래에서 위로 이동 */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out; /* 애니메이션 효과 */
}

.campaign-title.animate {
  animation: fadeSlideUp 1.5s ease-out forwards; /* 화면에 보일 때 애니메이션 시작 */
}

/* 제목 강조부분 색상 하이라이트 */
.campaign-title-highlight {
  color: #00acae;
  font-size: 90px;
}

.text-center-campaign-subtext {
  color: white;
  font-family: NotoSans;
  font-size: 20px;
}

/* 이미지 컨테이너 스타일 */
.campaign-image-container {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 이미지 스타일 */
.campaign-image {
  padding-top: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease; /* 이미지 확대 효과 */
}

.campaign-image:hover {
  transform: scale(1.05); /* 마우스 오버 시 확대 */
}

/* 버튼 컨테이너 스타일 */
.campaign-button-container {
  margin-top: 30px;
  padding-bottom: 80px;
  text-align: center; /* 버튼을 가운데 정렬 */
}

/* 버튼 스타일 */
.campaign-button {
  background-color: #00acae !important;
  border: none !important;
  border-radius: 30px !important;
  padding: 10px 20px !important; /* 양옆 패딩 조정 */
  font-size: 25px !important;
  font-family: Noto Sans !important;
  color: white !important;
  transition: background-color 0.3s ease, transform 0.2s ease !important;
  display: inline-block; /* 버튼 크기를 컨테이너 기준으로 제한 */
  max-width: 250px; /* 버튼의 최대 너비 제한 */
}

/* 마우스 오버 시 버튼 스타일 */
.campaign-button:hover {
  background-color: #007a8c !important;
  transform: scale(1.05) !important;
}


