@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px); /* 약간 아래에서 시작 */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* 원래 위치로 이동 */
    }
}

/* 기본적으로 텍스트 숨기기 */
.challenge_title_text {
    font-family: 'Black Han Sans';
    font-size: 70px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 70px;
    opacity: 0; /* 기본으로 숨기기 */
    transition: opacity 1s ease-out, transform 1s ease-out; /* 애니메이션 속도 조정 */
}

/* 애니메이션이 적용되면 텍스트 보이기 */
.challenge_title_text.fadeSlideUp {
    animation: fadeSlideUp 1s ease-out forwards;
}

.challenge_title_hightlight {
    font-family: 'Black Han Sans';
    font-size: 90px;
    color: #00acae;
    display: inline-block;
    animation: fadeSlideUp 1s ease-out;
    animation-delay: 0.2s; /* 하이라이트 텍스트에 지연 시간 추가 */
}

.challenge_subtitle_text {
    font-family: 'Noto Sans';
    font-size: 20px;
    padding-bottom: 100px;
}

/* 챌린지 명칭 타이틀 텍스트 스타일 */
.challeng_name_title_text {
    font-family: 'Black Han Sans';
    color: white;
    font-size: 45px;
    display: inline-block;
    background-color: #e23b6c;
    padding: 0 30px;
}

/* 챌린지 이미지 스타일 */
.challeng_img {
    padding-top: 30px;
}

.challenge_img_size {
    width: 90%;
    height: auto;
}

/* 챌린지 소개 텍스트 스타일 */
.challenge_introduce,
.challenge_introduce_sectionbottom {
    font-family: 'Noto Sans';
    font-size: 18px;
    padding-top: 40px;
}

.challenge_introduce {
    padding-bottom: 10px;
}

.challenge_introduce_sectionbottom {
    padding-bottom: 100px;
}

.challenge_introduce_hightlight {
    color: #00acae;
    font-weight: 900;
    font-size: 23px;
}

/* 하단 섹션 */
.challenge_section_bottom {
    position: relative;
    margin-top: -50px;
}

.challenge_bottom {
    padding-bottom: 40px;
}

/* 버튼 오버레이 */
.button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
}
