/* 공지사항 페이지 전체 컨테이너 */
.notice-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* 공지사항 헤더 */
.notice-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* 글 작성 버튼 */
.notice-add-button {
  
  text-align: right;
  margin-bottom: 20px;
}

.notice-add-button button {
  background-color: #00acae;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  padding: 7px 12px;
  cursor: pointer;
  font-size: 17px;
}

.notice-add-button button:hover {
  background-color: #0056b3;
}

/* 공지사항 테이블 */
.notice-table {
  width: 100%;
  border-collapse: collapse;
}

.notice-table th,
.notice-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.notice-table th {
  background-color: #f9f9f9;
  font-weight: bold;
}

.notice-table tbody tr {
  transition: all 0.3s ease;
  background-color: #fff;
}

.notice-table tbody tr:hover {
  background-color: #f9f9f9;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* 테이블 열 너비 조정 */
.notice-table th:nth-child(1),
.notice-table td:nth-child(1) {
  width: 10%;
}

.notice-table th:nth-child(2),
.notice-table td:nth-child(2) {
  width: 50%;
}

.notice-table th:nth-child(3),
.notice-table td:nth-child(3),
.notice-table th:nth-child(4),
.notice-table td:nth-child(4) {
  width: 20%;
}

/* 클릭 가능한 행 스타일 */
.notice-table tbody tr.notice-clickable-row {
  cursor: pointer;
}

.notice-table tbody tr.notice-clickable-row:hover {
  background-color: #e9ecef;
}

/* 텍스트 오버플로우 처리 */
.notice-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
}

/* 짝수 행 배경색 지정 */
.notice-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* 짝수 행에 호버 효과 적용 시 배경색 변경 */
.notice-table tbody tr:nth-child(even):hover {
  background-color: #e9ecef;
}

.notice-search-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.notice-search-label {
  font-weight: bold;
  margin-right: 10px;
}

.notice-search-wrapper {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  width: 600px;
}

.notice-search-icon {
  display: inline-flex;
  align-items: center;
  font-size: 20px;  
  font-weight: bold; 
  color: #333;  
  white-space: nowrap;
}

.notice-search-input {
  border: none;
  background: none;
  outline: none;
  padding: 5px 10px;
  font-size: 14px;
  width: 100%;
  margin-left: 5px;
}

.notice-search-input::placeholder {
  color: #999;
}