.campaign-background {
  background-color: black;
}

/* 제목 컨테이너 스타일 */
.campaign-title-container {
  margin-bottom: 30px;
}

/* 제목(h2) 스타일 */
.campaign-title {
  font-size: 70px;
  font-family: Black han sans;
  color: white; /* 진한 회색 */
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  padding-top: 70px;
}

/* 제목 강조부분 색상 하이라이트 */
.campaign-title-highlight {
  color: #00acae;
  font-size: 90px;
}

.text-center-campaign-subtext {
  color: white;
  font-family: NotoSans;
  font-size: 20px;
}

/* 이미지 컨테이너 스타일 */
.campaign-image-container {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 이미지 스타일 */
.campaign-image {
  padding-top: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease; /* 이미지 확대 효과 */
}

.campaign-image:hover {
  transform: scale(1.05); /* 마우스 오버 시 확대 */
}

/* 버튼 컨테이너 스타일 */
.campaign-button-container {
  margin-top: 30px;
}

.campaign-button {
  margin: 15px; /*버튼사이의 공백*/
  background-color: #00acae !important;
  border: none !important;
  border-radius: 30px !important;
  padding: 10px 30px !important;
  font-size: 25px !important;
  font-family: Noto Sans !important;
  color: white !important;
  transition: background-color 0.3s ease, transform 0.2s ease !important;
}

.campaign-button:hover {
  background-color: #007a8c !important; /* 마우스 오버 시 색상 변경 */
  transform: scale(1.05) !important;
}
