.graphtrash_overall {
    background-color: black;
}

.graptrash_title_text {
    font-family: Black Han sans;
    font-size: 80px;
    color:  #00acae;
    padding-top: 120px;
}

.graphtrash_text_origin {
    font-family: Noto Sans;
    color: aliceblue;
}

.graphtrash_point_text {
    font-family: Black Han sans;
    color: #00acae;
    font-size: 45px;
    display: inline-block;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
}

.graphtrash_img {
    padding-bottom: 60px;
    width: auto;
    height: auto;
    background-size: contain; /* 이미지 크기를 맞춤 */
    background-repeat: no-repeat; /* 반복 없이 */
}

.graphtrash_introduce_text_01 {
    font-family: Noto Sans;
    color: aliceblue;
    font-size: 27px;
    padding-top: 10px;
}

.graphtrash_highlight {
    font-family: Noto Sans, sans-serif;
    font-weight: 900;
    color: #00acae;
    font-size: 30px;
}