.itsok_banner_background {
    background-color: black;
}

.itsok_banner_img {
    position: relative;
}
.itsok_banner_text {
    font-size: 75px;
    color: white;
    font-family: Black Han Sans;

    /*이미지 안에 텍스트 집어넣는 CSS코드*/
    position: absolute;
    top: 30%; /* 부모 요소의 50% 위치 */
    left: 50%; /* 부모 요소의 50% 위치 */
    transform: translate(-50%, -50%); /* 중앙 정렬을 위한 변환 */
    text-align: center; /* 텍스트 중앙 정렬 */
    white-space: nowrap;
}

.itsok_banner_text_hightlight {
    font-size: 90px;
    color: #00acae;
    font-family: Black Han Sans;
}