.maruwind-navbar-title {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 50px !important;
    position: relative;
    margin-left: 0 !important;
}



.maruwind-navbar {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}  